.menus-add-category-button {
    font-weight: bold;
    font-size: 14px;
    padding: 1%;
    width: 270px;
    border-radius: 3px;
    margin-top: 10px;
    border: none;
    background-color: #E3E3E3;
    cursor: pointer;
    text-align: center;
    
}

.menus-add-category-button:hover {
    background-color: darkgrey;
}