.item-preview-cont {
	display: flex;
	flex-flow: row wrap;
	margin-left: -8px; /* Adjustment for the gutter */
	width: 100%;
}

.items-preview-modal-cont {
	width: 80vw;
}

.item-preview-modal-cont-full {
	width: 99vw;
}

.items-preview-custom-atag {
	color: var(--dark_primary);
	font-weight: bold; 
}

.items-preview-custom-atag:hover {
	color: var(--light_primary);
	cursor: pointer
}