
.item-card-cont {
    position: relative;
}
.item-card-image { 
    object-fit: cover; 
    height: 250px;
    min-width:150px;
    flex: auto;
    margin: 0 8px 8px 0; 
}

.item-card-image:hover { 
    cursor: pointer;
}

.item-card-image-blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.item-card-caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-shadow:
    -1px -1px 0 grey,
    1px -1px 0 grey,
    -1px 1px 0 grey,
    1px 1px 0 grey;
}